<aside class="sidebar">

    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/valuation/edit/prices" class="single-menu-element-link">
                    Update Prices
                </a>
            </li>


            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            </li>
        </ul>

        <hr>
    </nav>
</aside>


<main class="main-content" >
    <header class="blog-title">
        <h3>Modify Assets</h3>
    </header>
    <div id="assetvaluation" >

    </div>

</main>