<header class="blog-title">
    <h3>{{title}}</h3>
</header>
<p id="lastvaluationdate"> Valuation on {{lastDate}}</p>
<table class="articleUser">
<thead>
    <th>Name</th>
    <th>ISIN</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Value</th>
</thead>
<tbody>
{{#blogPosts}}

<tr>
   <td >{{Name}}</td>
    <td >{{ISIN}}</td>
   <td >{{Quantity}}</td>
   <td >{{Price}}</td>
   <td >{{Value}}</td>
</tr>
{{/blogPosts}}
</tbody>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td id="totalvalue">Total:</td>
    <td>{{total}}</td>
</tr>
</table>

