<aside class="sidebar">

    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/valuation/edit/assets" class="single-menu-element-link">
                    Make Valuation
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            </li>
        </ul>


    </nav>
</aside>
<main class="main-content">
    <header class="blog-title">
        <h3>home</h3>
    </header>

    <table class="articlesUser" id="articleUser" >

    </table>
    <footer>
        <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
    </footer>
</main>