a {
    text-decoration: none;
    color: #565656;
}

.dot {
    margin-top: 13px;
    margin-right: 10px;
    float: left;
    width: 20px;
    border-radius: 40px;
    background-color: #019c8c;
}

.title {
    font: 32px Oswald;
    font-weight: 600;
}

.subtitle {
    font: 16px Lato;
    font-weight: 100;
    margin-left: 3%;
}

.content {
    padding-top: 2.5%;
    font: 16px Lato;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-wrap: break-word;
}

.articles {
    margin-left: 5%;

}
.articleUser td,
.articleUser th {
    margin-left: 5%;
    border:1px solid black;
}
.articleUser {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}
.articleUser th {font-weight: bold;}

#assetvaluation th,
#assetvaluation td {
    margin-left: 5%;
    border:1px solid black;
}
#lastvaluationdate{
    font: 25px lato;
    font-weight: bold;
}
#totalvalue{
    font: 25px lato;
    font-weight: bold;
}

.single-post {
    margin-bottom: 5%;
}