<header class="blog-title">
    login
</header>

<div class="user-login-block">
    <form>
        <h1 class="form-title">Username:</h1>
        <input type="text" value="ivan" placeholder="Enter Username" id="username"/>
        <h1 class="form-title">Password:</h1>
        <input type="password" value="123" placeholder="Enter password" id="password">
        <h1 class="form-title">App Secret:</h1>
        <input type="text" value="2d8ef1a094f4433c8a195634ddc9c07e" placeholder="Enter App Secret" id="app-secret">
        <br>
        <button type="button" id="login-request-button">Login</button>
    </form>

</div>

<footer>
    <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
</footer>