<div class="new-post-block">
    <h2 id="editor-title">Update Prices</h2>
    <form id="post-form">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">Actual Date</h1>
                <input type="text" value="" placeholder="Title" id="title"/>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">User's Name:</h1>
                <input type="text" value="" placeholder="Author" id="author" disabled>
            </li>
        </ul>

        <h1 class="title-form">Put Actual Prices in JSON Format :</h1>
        <textarea class="content-field" placeholder="Actual Prices" id="content"></textarea>
        <br>
        <button type="button" id="create-new-post-request-button">Update Prices</button>
    </form>
</div>

<footer>
    <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
</footer>