<aside class="sidebar">

    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/login" class="single-menu-element-link">
                    Login
                </a>
            </li>


        </ul>


    </nav>
</aside>
<main class="main-content">
    <header class="blog-title">
        <h3>Portfolio Management System</h3>
    </header>
    <ul class="articles" id="article">
        <li><div class="dot">&nbsp;</div><h3 class="title">Equities</h3></li>
        <li><div class="dot">&nbsp;</div><h3 class="title">Bonds</h3></li>
        <li><div class="dot">&nbsp;</div><h3 class="title">Deposits</h3></li>

    </ul>
    <footer>
        <p class="footer-text">&copy; IVANMARINOV1975, No Rights Reserved</p>
    </footer>
</main>