<aside class="sidebar">

    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/valuation/edit/assets" class="single-menu-element-link">
                    Make Valuation
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/archieve" class="single-menu-element-link">
                    Archieve
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            </li>
        </ul>


    </nav>
</aside>
<main class="main-content">

    <ul class="articlesUser" id="articleUser">
    </ul>
    <footer>
        <p class="footer-text">&copy; IVANMARINOV1975, No Rights Reserved</p>
    </footer>
</main>